body {
  background-color: #fbf8f4;
  color: #5c4033;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #c66a39;
  color: white;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .brand h1 {
  font-family: 'Lobster', cursive;
  margin: 0;
  font-size: 1.8rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 600;
}



.container {
  padding: 2em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5em;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 1em;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 12px;
}


.footer{
  text-align: center;
}
