<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Recetas — Sabores sin Límites</title>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style ="  background-color: #fbf8f4;">

  <header class="navbar" style="padding: 25px;">
    <div class="brand">
      <a href="{{ url_for('index') }}" style="display:flex; align-items:center; text-decoration:none; color:white;">
        <h1><b>Sabores sin Límites</b></h1>
      </a>
    </div>
    <nav class="nav-links">
      <a href="{{ url_for('recipes') }}">Recetas</a>
      <a href="{{url_for('shop') }}">Tienda</a>
      <a href="{{ url_for('cart') }}">Carrito ({{ session.get('cart', [])|length }})</a>
    </nav>
  </header>
  


  <main class="container">
    <h2><b>Explorar recetas</b></h2>
  
      <div class="d-flex flex-column flex-md-row align-items-stretch align-items-md-center mb-4">
          
          <input id="q" type="search" 
                 placeholder="Buscar por nombre..." 
                 class="form-control me-md-3 mb-2 mb-md-0"
                 style="flex:1;">
        
          
          <div class="btn-group" role="group" aria-label="Filtros de Dieta">
              <button type="button" class="btn btn-outline-marron filter-category active">Todos</button> 
              <button type="button" class="btn btn-outline-marron filter-category">Sin lactosa</button>
              <button type="button" class="btn btn-outline-marron filter-category">Diabetes</button>
              <button type="button" class="btn btn-outline-marron filter-category">Hipertensión</button>
              <button type="button" class="btn btn-outline-marron filter-category">Sin TACC</button>
          </div>
          
      </div> 
      
      <section id="recipesList" style="margin-top:24px">
      </section>


    <section style="margin-top:18px">
      <div id="recipesList"> 
        {% for recipe in recipes %}
        
        <div class="row g-0 bg-white position-relative shadow-sm mb-4 rounded-3" 
             data-type="{{ recipe['type'] }}" 
             style="display: flex;"> <div class="col-md-4 mb-md-0 p-md-3">
                <img src="{{ url_for('static', filename='image/' + recipe['image']) }}" 
                     class="img-fluid rounded-start" 
                     alt="{{ recipe['title'] }}"
                     style="height: 200px; width: 100%; object-fit: cover;">
            </div>
            
            <div class="col-md-8 p-4 ps-md-0 d-flex flex-column">
                <h3 class="mt-0 fw-bold">{{ recipe['title'] }}</h3>
                
                <p class="text-muted mb-2 small">
                    <span class="badge bg-danger me-2">{{ recipe['type'] | replace(',', ' | ') }}</span>
                    <span>Nutrición: {{ recipe['nutrition'] }}</span>
                </p>
                
                <p>{{ recipe['description'] }}</p>
                
                <a href="{{ url_for('recipe_detail', recipe_id=recipe['id']) }}" class="btn btn- mt-auto align-self-start">
                    Ver Receta
                </a>
                
                </div>
        </div>
        {% endfor %}
      </div>      
    </section>

    <footer class="footer" style="  background-color: #fbf8f4;">¿Querés que agreguemos una condición más? Escribinos.</footer>


  <script src="{{ url_for('static', filename='js/recetas.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>

